<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>I'm sentimental</title>
    </head>
    <body>
        <form onsubmit="return Client.onClick(event)">
            <label for="text">Input your text: </label>
            <textarea id="text" placeholder="I'm sentimental. So I walk in the rain..." accept-charset="character_set" required autocomplete="off"></textarea>
            <button id="submit" onsubmit="return Client.onClick(event)" onclick="return Client.onClick(event)">Get sentimental</button>
        </form>
        <div id="result"></div>
    </body>
</html>