<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>
    <body>
        <form onsubmit="return Client.onClick(event)">
            <label for="news">What's happening: </label>
            <input id="news" type="text" placeholder="Mothership to Earth" required autocomplete="off" />
            <button id="submit" onsubmit="return Client.onClick(event)" onclick="return Client.onClick(event)">Spy on human</button>
        </form>
        <div id="result"></div>
    </body>
</html>