$contrast-color: rgb(0, 119, 179);
$less-contrast: rgb(26, 178, 255);
$background: rgb(204, 255, 255);


#text{
    color: $less-contrast;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    width: fit-content;
    gap: 10px;
}

#submit {
    color: $contrast-color;
}

